[2019-07-17 21:07] t94j0 opened #3 "Documentation on config.yml"
When following the setup guide, I ran into this issue:
`FileNotFoundError: [Errno 2] No such file or directory: 'config.yml'`

In the [setup] section of your README, you should add the file and file structure for config.yml.

[setup]: https://github.com/tillson/git-hound#setup

[2019-07-18 01:27] tillson commented on #3
You make a very convincing argument, Mr. Harley. I will add this to our next sprint cycle, and you can expect it to ship in 90 days.

[2019-07-18 01:27] #3 closed

[2019-07-22 02:27] tillson opened #4 "Optimize scanning for large resultsets (100+ pages)"
GitHub limits us to 100 pages of results. We use different sorting to expose more results.

We should look into how the desc/asc ordering works, and we may be able to terminate early if we find overlap between the two result sets. i.e. the second half of the descending result set may be an intersection with the first half of the ascending result set (in reverse order).

[2019-07-22 02:30] tillson opened #5 "Filter out high activity repos"
Secrets are less likely to be in repos with many stars/watchers/forks, so we may be able to filter these out. We can't do this in search and need to access another API call to check, but we may be able to figure out a "smart" way to do this.

My initial thought is something like:
The first file grabbed from a repo is "free", but the second one has a check for if the repo's stars > 5 OR watchers >

[2019-07-29 23:20] tillson commented on #5
Fixed in v1.0

[2019-07-29 23:20] #5 closed

[2020-01-03 14:09] ShadowOfANBU opened #7 "GitHub 2FA support"
I create a config file in the same directory, where git-hound binary reside but, when I execute the binary file, it say "config.yml was not found". When I try to run the config. yml through the external command "--config-file", then it says the whole path was not found. So where we put the file.

My go version is: 1.13

[2020-01-23 03:48] tillson commented on #7
Hey there,
Sorry for the delay in the triage.

I've just tested this with the latest release binary: https://github.com/tillson/git-hound/releases and could not reproduce the problem. Are you running from source? If so, let me know what OS you're using and we can try to get to the bottom of this.

[2020-02-09 21:59] skynet594 commented on #7
When i create the config.yml file and run the tool it gives me to errors "can login into github with
"myusername". the github account i created has no 2F authentication turned on as you descriped.
When i run it again it gives me the error "config.yml was not found". I'm running it on kali amd64..

[2020-02-10 21:37] gabemarshall commented on #7
I just started getting this error recently as well (btw great tool @tillson 👍) - I haven't had a chance to dig into it much yet, but line 147 of `internal/app/search.go` is where it's faulting for me. I figured maybe Github had made some changes to the search that may have broken the regex matching 🤷‍♂️

[2020-02-10 22:19] tillson commented on #7
Managed to reproduce this. I suppose we'll need to add better catching of 2FA.
Thanks for the report: consider this triaged. I'll look into it this week.

[2020-02-19 14:12] solaomoDevOps opened #8 "X509: certificate signed by unknown authority"
When running the command "echo "cnn.com" | git-hound'

I get error
Error getting CSRF token page.
Get https://GitHub.com/login : x509: certificate signed by unknown authority

Segmentation violation.

Is this a known error or a bug. Thanks for looking into it.

[2020-03-24 22:16] tillson commented on #7
Hey, this should be fixed now! Check out master.

[2020-03-24 22:16] tillson commented on #8
What operating system are you using?

[2020-03-26 01:00] solaomoDevOps commented on #8
RheL

Thanks

On Tue, Mar 24, 2020 at 6:17 PM Tillson Galloway <notifications@github.com>
wrote:

--
Thanks.

Simeon Olaomo
We all have a destination: your choice matters
I am a product of love, power and a sound mind...

[2020-04-07 00:03] tillson commented on #7
Closing this for now. if any similar issues arise, let me know!

[2020-04-17 06:49] Anne272732 commented on #7
Hi Tillson,

I have the same issue, i can't loggin with my Github account (no 2FA activate), i used a Digital Ocean VPS to test it.

Here you can see the screenshot of my process ( i've downloaded the version1.1 as you can see):

https://www.screencast.com/t/1ciQ17qwi2

Uname -a

https://www.screencast.com/t/lYRQwx0i

Could you take a look?

Regards

[2020-04-17 16:49] tillson commented on #7
Hey @Anne272732, thanks for updating this.
The problem is that even if 2FA isn't enabled, GitHub requires you to do a 2FA code when you log in from a new computer (so it catches the Digital Ocean VPS). I'll try to get this fixed this weekend!

I've updated the issue title to reflect what's really going on.

[2020-04-18 12:38] Anne272732 commented on #7
Hi @tillson,

Thanks for the response... Perfect !!

I'll check again when you fix it !!

Regards

Anne272732

[2020-05-06 03:33] xiaoheiwo opened #10 "Question about login with github account password"
Hello, when I use the script on my server device, GitHub requires me to enter a verification code for the new device login, but the tool cannot enter the verification code, which prevents me from using it。Is there a solution, or other login methods, thank you

[2020-05-06 06:44] qiangyuefeng commented on #10
我也是这个情况

[2020-05-06 07:25] Ciyfly commented on #10
And why show login device is this  Device: Chrome on macOS

[2020-05-06 16:59] tillson commented on #10
Check out https://github.com/tillson/git-hound/issues/7.
For a temporary solution, you can head into github.go and change the user agent on line 40 to whatever browser you have on your computer.

[2020-05-06 16:59] #10 closed

[2020-05-06 17:54] tillson commented on #7
Fixed: https://github.com/tillson/git-hound/pull/11

[2020-05-06 18:14] #7 closed

[2020-05-06 18:38] tillson opened #12 ""Unable to log into GitHub" from new device"
Looks like we fixed the 2FA bug, but not the new device one.

[2020-05-07 14:15] Anne272732 commented on #7
Hi @tillson,

Could you take another look at the issue?

In my case, the issue is still present with the last version:

https://www.screencast.com/t/xRDXdR34AS5

Regards

[2020-05-08 03:09] Sicmatr1x opened #13 "git-hound: command not found"
[code]

Did I need add the git-hound to `.bash_profile`?

[2020-05-08 19:24] tillson commented on #7
Check out https://github.com/tillson/git-hound/issues/12. Should have a fix shortly since it's just the 2FA stuff with a different endpoint!

[2020-05-10 17:57] tillson commented on #13
Yep, exactly. You can also run `./git-hound` as long as you're in the same directory as the `git-hound` file.

Thanks for the issue: I'll also update the README to make this a little more clear.

[2020-05-10 17:57] #13 closed

[2020-05-10 17:57] tillson commented on #12
Fixed in v1.2.1

[2020-05-10 17:57] #12 closed

[2020-05-10 17:58] tillson commented on #7
As an update, this is now resolved in v1.2.1.

[2020-05-12 01:07] tillson opened #14 "Revamp digging concurrency"
- Use pools to get a number of goroutines that is closer to the number specified by `--threads`
- Right now, the dig files/dig repo is linear. Use a second goroutine to spin off each of these tasks and collect the results through a channel.

[2020-05-12 15:43] breakfixrepeat commented on #8
I just ran in to the same issue on a docker image, installing ca-certificates resolved it for me

[2020-05-12 16:09] tillson opened #15 "GitHub personal access token support"
Right now, users are forced to use username/passwords. PAC support would prevent this.

[2020-05-12 16:33] joefizz opened #16 "Unable to log into GitHub"
**Describe the bug**
Using the latest binary (1.2.1) from an EC2 instance I am unable to login to GitHub.

I have populated the ~/.githound/config.yml file with username and password.  I created a new GitHub account without 2FA (although I see 2FA is now supported).  I also tried proxying my brower through my EC2 instance and entering the emailed confirmation code but am still having the same prob

[2020-05-12 16:35] joefizz commented on #16
~/.githound/config.yml format (redacted)
[code]

[2020-05-12 16:59] tillson commented on #16
Did you redact the username from `[*] Logged into GitHub as` or is it not showing up?

[2020-05-12 17:01] joefizz commented on #16
no that is exactly how the error is displayed

________________________________
From: Tillson Galloway <notifications@github.com>
Sent: 12 May 2020 18:00
To: tillson/git-hound <git-hound@noreply.github.com>
Cc: joefizz <joseph.rapley@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [tillson/git-hound] Unable to log into GitHub (#16)

Did you redact the username from [*] Logged into Gi

[2020-05-12 17:09] tillson commented on #16
I see what your issue is:
[code]
The `#` is a comment in YML, remove those and you'll be set

[2020-05-12 18:21] joefizz commented on #16
ah of course.  i knew it'd be something at my end.  thank you!

________________________________
From: Tillson Galloway <notifications@github.com>
Sent: 12 May 2020 18:10
To: tillson/git-hound <git-hound@noreply.github.com>
Cc: joefizz <joseph.rapley@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [tillson/git-hound] Unable to log into GitHub (#16)

I see what your issue is:

# Requi

[2020-05-12 18:22] #16 closed

[2020-05-12 18:55] joefizz opened #17 "Invalid URLs being returned in results"
**Describe the bug**
Results are being returned with invalid URLs that direct to 404 pages on GitHub.  I suspect this may be down to me not understanding some of the nuances of GitHub.

**To Reproduce**
Steps to reproduce the behavior:
1. Search for some juicy secrets
2. visit the results e.g. https://github.com/martinmoene/bd290bc0ff8248de31fd/blob/master/martinmoene/bd290bc0ff8248de31fd
3. get a

[2020-05-12 19:26] tillson commented on #17
Nice catch.
It looks like this is an issue in how GitHound handles Gist results: check out https://gist.github.com/martinmoene/bd290bc0ff8248de31fd and https://gist.github.com/rayantony/51ef0bf510f5154b9d81 for your specific results

[2020-05-12 19:34] joefizz commented on #17
ah just like that!  super thank you.

[2020-05-12 20:58] tillson commented on #17
I’m gonna re-open this since it is a bug at the end of the day

[2020-05-13 08:59] vishal-vishal opened #18 "How to install in kali linux"

[2020-05-13 11:41] Harrison-Mitchell opened #19 "Help page thread default discrepancy"
**Describe the bug**
`git-hound -h` has the line `--threads int     Threads to dig with (default 10). (default 20)`
So is the default 10 or 20?

**Additional context**
Using latest git release.

All the best :)

[2020-05-13 14:23] tillson commented on #18
Check out the Setup section in the README.

[2020-05-13 14:23] #18 closed

[2020-05-15 04:44] tillson opened #20 "Full dorks as queries"
**Is your feature request related to a problem? Please describe.**
GitHound users are currently limited on the complexity of queries sent into GitHound. This is because GitHound adds quotation marks around its queries (see https://github.com/tillson/git-hound/blob/master/internal/app/github.go#L177).

**Describe the solution you'd like**
We have two options:
1. Remove the quotation marks from the

[2020-05-15 04:45] tillson commented on #20
For readers, I would appreciate input on which solution works best for your workflow.

[2020-05-15 22:37] tamjid1971 commented on #20
![image](https://user-images.githubusercontent.com/45327979/82101573-a45bf080-972e-11ea-99a5-2c73b0587625.png)

[2020-05-15 22:43] tamjid1971 commented on #20
facing some problem for setup.

[2020-05-15 23:06] tillson commented on #20
Hey @tamjid1971,
It looks like you're trying to run the configuration file instead of the GitHound core program. When you write `./` in front of a filename, the shell interprets it as trying to run it. Try doing `./git-hound` instead. Was there something in the documentation that made that unclear?

Also, when reporting issues, please create a **new issue** instead of commenting on an old one so t

[2020-05-16 09:55] githubtest611 commented on #20
Hi @tillson, I'm currently using your script for a university project, are you planning to add query of type:
"filename:db.php" soon ? Or is it already available and I didn't see that ?

Thanks for you great work.

[2020-05-16 16:10] tamjid1971 opened #21 "Installation error"
![image](https://user-images.githubusercontent.com/45327979/82124577-c2befc00-97c1-11ea-9a4c-4c5ef2042f3b.png)

![image](https://user-images.githubusercontent.com/45327979/82124584-cc486400-97c1-11ea-995f-5c37840735e3.png)

How to config my kali .
anyone can help me for this error

[2020-05-16 16:40] tamjid1971 commented on #21
![image](https://user-images.githubusercontent.com/45327979/82125196-33681780-97c6-11ea-91a5-ca48b3a5fb0e.png)
My config.yml is

[2020-05-16 17:06] tillson commented on #21
Hey @tamjid1971,
It looks like you're trying to run the configuration file instead of the GitHound core program. When you write ./ in front of a filename, the shell interprets it as trying to run it. Try doing ./git-hound instead (in the same folder) Was there something in the documentation that made that unclear?
Your config.yml contents look right, however

[2020-05-16 17:25] tamjid1971 commented on #21
hey @tillson , not fix
![image](https://user-images.githubusercontent.com/45327979/82126125-7331fd80-97cc-11ea-9be2-8c170b2cd65f.png)

[2020-05-16 17:29] tillson commented on #21
Did you clone the repo or did you download from releases? Run ‘ls’ on the directory

[2020-05-16 18:27] tamjid1971 commented on #21
![image](https://user-images.githubusercontent.com/45327979/82127368-d3c53880-97d4-11ea-8b53-bcb12bd8524a.png)

I'm trying both methods but not work for me ....

[2020-05-16 20:00] tillson commented on #20
The idea here is to change githound's input so that users are able to use any GitHub search query/filter. (right now, `echo "test.com filename:db.php" | ./git-hound` translates to `"test.com filename:db.php"` in code search, which looks for the literal).

It sounds like this'll help you so I'll make the change.

[2020-05-16 20:05] tillson commented on #21
I'm going to release a video on this soon. You're very close: There is a file inside your current directory called `git-hound`. If you use command `file git-hound`, it should say something like "executable". This is the file you need to run. You can run the file with `echo "test.com" | ./git-hound`.

[2020-05-17 02:42] tillson commented on #19
Thank you @Harrison-Mitchell! 20 is the correct number. Updated in https://github.com/tillson/git-hound/commit/16cc48d7736125e41fd48964b7b9df5ef0919bae.

[2020-05-17 02:43] tillson commented on #20
Updated in master: see https://github.com/tillson/git-hound/commit/fda04b780c17df83bb853c42d4806f9dc3f15631

Release coming soon–– my primary workstation's battery has died..

[2020-05-17 11:21] pager5Cx415Cx415Cx69 commented on #21
@tamjid1971 Remove all the previous files. Then get wget to download from the Release source. Then unzip tar. You find the bash executable files. No need to execute config files because thats not the bash files. I guess firstly you clone the repo in repo their is no bash file. So easy would be (wget) the tar not (go get).

[2020-05-19 01:45] #21 closed

[2020-05-19 20:27] hahanov opened #25 "Recover when go-diff lib panics parsing large commits; index out of range"
**Describe the bug**
Primarily. Greetings, wonderful program, thanks for the work.

Now to the point. I have about 3,000 subdomains. And on ~ 120 domain the program every time gives an error, the list did not change.

**Desktop (please complete the following information):**
 - Kali KDE
 - Version release last

**Error**
[code]
**Hope to fix it.**
Please.

**Note**
Did you know? https://www.sourcec

[2020-05-21 05:46] maerbuchicao opened #26 "dial tcp 0.0.0.0:443: connect: connection refused"
![image](https://user-images.githubusercontent.com/61037744/82527590-67965c00-9b69-11ea-930c-748bd66740aa.png)

[2020-05-22 01:11] Muhammed127 commented on #26
I have the same problem

[2020-05-22 01:52] tillson commented on #26
A few questions for the two of you:
1. Are you using the build from the Releases tab, or are you building from the master branch?
2. Are you using a VPN?

This is an interesting issue as it looks like it's being caused by `raw.githubusercontent.com`'s DNS being mapped to 0.0.0.0 (your machine). Maybe it's a form of rate-limiting from GitHub?

[2020-05-22 04:13] badaozhenjun opened #27 "when searching,i had this error"
git-hound version
[code]
go version:
[code]
cmd:
[code]
regex-file content:
[code]
start error after print some correct string
[code]

[2020-05-22 04:23] badaozhenjun commented on #27
without regex-file,i have the same error
[code]

[2020-05-22 09:50] hahanov commented on #25
Just leave it here
https://github.com/codeEmitter/gitrob/commit/c735767e86d40a0015756a299e4daeb136c7126b
https://github.com/sergi/go-diff/issues/89

[2020-05-23 05:14] marcelo321 opened #28 "How to install de Go version?"
Sorry for this question, but i can't find the `go get http://url`. Can you let me know how to install it? thanks in advance

[2020-05-23 05:15] tillson commented on #25
Thanks for the link, @hahanov. I'll implement this fix.

[2020-05-23 05:42] #20 closed

[2020-05-23 05:42] #19 closed

[2020-05-23 05:42] #17 closed

[2020-05-23 05:45] tillson commented on #28
Hi, thanks for the question!
Try `go get github.com/tillson/git-hound`

[2020-05-23 05:49] tillson commented on #27
This looks like it could be a duplicate of https://github.com/tillson/git-hound/issues/25, which was just fixed in v1.3. Feel free to re-open this issue if you're still getting errors.

[2020-05-23 05:49] #27 closed

[2020-05-23 05:56] #25 closed

[2020-05-23 05:57] marcelo321 commented on #28
That works! thank you, i though i already tried that but apparently i didn't.

[2020-05-23 06:21] attacker007 commented on #3
Hi @tillson

I've downloaded the released binary and extracted it. And then created config.yml and added the required inputs in that file.

[code]

But when i tried to run the command to search for anything... I got this Error

[code]

[2020-05-23 06:40] AshKumar06 commented on #7
I think the problem still persist , I downloaded githound today and configured config.yml as told in the instructions but the path to config.yml was not found.

[2020-05-23 07:15] marcelo321 opened #29 "Add CSV/JSON output formats"
Hello,

i wanted to ask a quesiton since i just started using the tool and notice that when trying it i get way too many results of repositories i don't want.

Does it makes sense to pipe the command `echo "domain.com | git-hound | grep companyName`?

If we know the company's github profile, we can use that to only show results coming from their repositories?

I ask this because i don't know if it

[2020-05-23 16:02] prosecurity opened #30 "Results / Output of githound search ?"
how to i find the output or results of githound or how do i save them

[2020-05-24 00:00] t94j0 commented on #3
Make sure that your current working directory has the binary and config file in it. If you look at [the ReadConfig function][1], it says to add the CWD to the config path. I don't remember if that's the CWD of the binary hosted or the CWD you're working from. I would recommend trying
 to add your config to `$HOME/.githound` and see if that works.

Best of luck

[1]: https://github.com/tillson/git-

[2020-05-24 17:58] #28 closed

[2020-05-25 12:09] Molive-cell opened #31 "Guide for Installation and Running"
Dear Team, could you please provide a step by step guidelines of installing and running this application in Kali linux.

[2020-05-29 23:12] MastinGood commented on #31
and also in windows when i try to run this **echo "\"tillsongalloway.com\"" | git-hound** it always says _'git-hound' is not recognized as an internal or external command,
operable program or batch file._

[2020-06-05 03:16] tillson commented on #31
YouTube video coming this weekend, but in the meantime:
1. Download latest version of GitHound for Linux systems at https://github.com/tillson/git-hound/releases (with `wget [url]` or from the web browser).
2. Decompress the download with `tar -xzf [filename]`. You may have to navigate to the Downloads folder with `cd` first.
3. `cd` into the now decompressed folder, and run `./git-hound` to test.

[2020-06-06 11:04] amanchawla97 commented on #31
even after putting config.yml it shows config.yml not found

[2020-06-07 04:28] tillson commented on #31
@amanchawla97 Could you send a pic of `ls` in the directory that you're running githound from?

[2020-06-16 19:02] amanchawla97 commented on #31
Yes Sure please find the attached screenshot
![config](https://user-images.githubusercontent.com/29571175/84816754-0069ab80-b032-11ea-97bf-2f3b72ea5c65.png)

[2020-06-16 20:11] tillson commented on #31
Can you show me the error when you try to run githound as well?

[2020-06-16 20:50] amanchawla97 commented on #31
![Screenshot 2020-06-17 07:49:05](https://user-images.githubusercontent.com/29571175/84826794-221e5f00-b041-11ea-8e05-97d2990102e5.png)

[2020-06-17 14:04] JeremyCBrooks commented on #31
@amanchawla97 , how did you install git-hound? Your first screenshot shows the source code but no binary. Try putting your config.yml in ~/.githound.

[2020-06-18 08:52] wifiuk opened #32 ""config.yml was not found" error"
what am I missing here?

Downloaded the latest binary.

![image](https://user-images.githubusercontent.com/3785545/84999647-5aa96000-b149-11ea-8d2e-dcab46980559.png)

[2020-06-18 23:27] tillson commented on #32
A few people have reported this issue... I'm unable to reproduce it as a bug currently.

Does supplying the full config path with`--config-file` fix it?
If not, what operating system are you on? I'll run a VM to see if that lets me replicate.

[2020-06-18 23:28] tillson commented on #31
For the `config.yml` issue, let's move discussion over to https://github.com/tillson/git-hound/issues/32.

[2020-06-19 21:06] wifiuk commented on #32
Happens on Linux and windows

[2020-06-19 21:08] wifiuk commented on #32
Adding the path doesn't help either

[2020-06-20 11:37] GeneralEG commented on #32
Same here for me

[2020-06-21 18:18] copy-and-paste commented on #15
Is it possible to add multiple accounts in the config file??

[2020-07-09 11:42] sushantdhopat19 opened #33 "not run githound"
i try to run githound but give this error

oot@kali:~/Desktop/git-hound# echo "\"tillsongalloway.com\"" | ./git-hound
[*] Logged into GitHub as sushantdhopat19
[!] Unable to log into GitHub.
2020/07/09 06:40:04

[2020-07-14 16:05] tillson commented on #33
When you log into `github.com` with the same credentials you entered in the config, do you get any captive pages (2 factor authentication, verify new device, etc.)

[2020-07-14 16:06] tillson commented on #29
I like this idea. Your current workflow would work, but would be limited by GitHound's output format.

I think the best solution for this would be to enable GitHound to do different output formats (json, csv) so that you could do fine-tuned grepping

[2020-07-14 16:08] tillson commented on #30
The results are printed to stdout. You can use standard output redirection/piping to work with these (e.g. `./githound > output.txt`)

[2020-07-14 16:08] #30 closed

[2020-07-14 16:08] #26 closed

[2020-07-14 16:09] #8 closed

[2020-07-14 16:10] sushantdhopat19 commented on #33
Thanks i solve this error already  i solve it with disabling the 2fa  .This work properly
Thanks

[2020-07-14 16:10] tillson opened #34 "GitHound should be able to run against locally cloned repos"
Right now, repos must be remote. It would be valuable for GitHound to implement scanning for local repos (supplied by a path)

[2020-07-18 04:15] #33 closed

[2020-07-31 14:15] Spacewalker2 opened #35 "Gist search shows authenticity_token of GitHub itself."
Hello,

thanks for the great tool! I'm using git-hound version 110.b18095e-1 of the blackarch repository like `git-hound --many-results --threads 100 <<< "example.com"`. If it is running the gist search then git-hound shows the authenticity_token of the GitHub page itself.

Bye

[2020-09-21 15:09] C1ph3R-s opened #36 "Bitbucket, git-hound"
Hi,

Is it possible run git-hound on bitbucket git repo?

Thanks,

[2020-09-25 00:19] shebi4 commented on #32
same problem please patched this bug asap.

[2020-11-11 04:58] kr0t3 commented on #33
this cannot be possible in vps no graphic version right?

[2020-11-24 12:43] wifiuk commented on #32
still have the same issue, totally different Linux system, using the lastest release from github.

[2021-02-17 17:18] welltest opened #38 "config.yml was not found"
I created config.yml in ~/.githound/config.yml & /root/config.yml but facing this issue.
Even I tried --config-file but still not working

![2021-02-17 22_45_45-Kali](https://user-images.githubusercontent.com/7748482/108241727-25d72800-7172-11eb-859c-1419be60da85.png)

[2021-02-27 19:57] alexandrevvo commented on #32
Got it.. You must put login and password between quotes "" in the config.yml!

[2021-04-09 14:53] realArcherL commented on #29
Is the repository dead? because it would be very helpful if the this feature could be added.

[2021-05-05 16:09] SAGEof6iixPATHS opened #39 "panic: runtime error: index out of range [0] with length 0"
I ran This command
```echo "zapier.com" | git-hound --dig-files --dig-commits --many-results --threads 100```
And got this error...
[code]

[2021-05-18 01:02] ashhadali10 commented on #32
not working same error

[2021-06-05 00:20] elxandre commented on #38
same issue here

[2021-06-05 00:20] elxandre commented on #38
@tillson Could you help?

[2021-06-05 00:32] elxandre commented on #32
@tillson Same error. You previously mentioned a YT video. Could you kindly post it here for us noobs to follow?

[2021-06-07 18:11] tillson commented on #38
Try putting quotes around your username and password in the config file.
I just updated the example config to reflect this

[2021-06-10 15:26] thezakman commented on #39
Got the same error.

[2021-06-17 16:55] Faizee-Asad commented on #39
same error.

[2021-06-17 16:56] Faizee-Asad commented on #39
panic: runtime error: index out of range [0] with length 0

goroutine 1 [running]:
github.com/tillson/git-hound/cmd.getScanner(...)
	/root/Final_tool/git-hound/cmd/root.go:112
github.com/tillson/git-hound/cmd.glob..func1(0x104f640, 0x108a358, 0x0, 0x0)
	/root/Final_tool/git-hound/cmd/root.go:64 +0xb45
github.com/spf13/cobra.(*Command).execute(0x104f640, 0xc0000202c0, 0x0, 0x0, 0x104f640, 0xc000020

[2021-06-22 09:32] Regala opened #40 "Limiting results to particular github users/repos/orgs?"
Hey @tillson quick question, is it possible to limit the results of the search to particular e.g. github orgs? If not is this something we could have with a flag e.g. `--github-repo acme`? Thanks!

[2021-06-22 09:38] Regala commented on #35
My results are also flooded with `authenticity_token` and `timestamp_secret`, don't know if it's from the same thing but makes really hard to see actual results/findings

[2021-07-04 08:18] 0xCC00FFEE commented on #39
TL;DR: A quick workaround for this issue is to download and build the latest stable release (v1.3 at the time of writing this comment).

Debugging the issue, it seems that the root cause of the issue is the following commit:
https://github.com/tillson/git-hound/commit/c9b91bac386e782b71da061c24e6bab2626d2ba9

More specifically, trying to access the first string value at the arguments list at line

[2021-07-04 09:44] 0xCC00FFEE commented on #40
I believe this could be done by applying the following diffs to the respective files.

[code]

Usage:
[code]

[2021-07-04 09:47] 0xCC00FFEE commented on #36
Digging a bit into the code and judging based on the `SearchGitHub` function in file `internal/app/search.go`, no it's not.

[2021-07-04 10:35] 0xCC00FFEE commented on #32
Maybe we can simplify the process of loading the configuration file to only look it up at:
- The current root directory of the `Git-Hound` cloned repository.
- From the `--config-file` CLI flag.

If possible can anyone still facing this issue try the following diff in `cmd/root.go` and see if it solves the problem?
[code]

**Note:** Changes are made based on the latest stable release v1.3

[2021-07-05 06:02] yayaainana commented on #35
me too

[2021-07-05 22:57] tillson commented on #32
**SOLUTION**
I think this may be a case of a bad error message. @alexandrevvo seemed to figure out that the problem was that you need to put your username and password in quotation marks (see the updated https://github.com/tillson/git-hound/blob/master/config.example.yml).
If anyone is still having this issue even after doing quotation marks, I'd be interested to hear about it!

[2021-07-07 11:49] #36 closed

[2021-09-25 10:39] vansh1 opened #42 "git-hound: command not found"
I am unable to run git-hound I spend my entire night trying to fix the issue, I tried everything I am using the latest version I have edited the config file and even tried downloading tar file manually then used tar -xzf file.tar.gz still i am unable to use

please help me

[2021-09-26 16:45] vansh1 commented on #42
is anyone here to lookup my issue/

[2021-09-26 21:56] tillson commented on #42
See https://github.com/tillson/git-hound/issues/13. You need to either run `./git-hound` in the directory where it is installed or add it to your command line path so it recognizes it as a command.

[2021-09-26 21:56] #42 closed

[2021-09-30 19:12] vansh1 commented on #42
how can i add it in my command line path so that my terminal recognizes it as command

[2021-11-15 11:41] schmiele commented on #35
same for me, using version from github on Debian

[2022-01-14 19:45] vansh1 opened #43 "unable to login into github"
**Describe the bug**
A clear and concise description of what the bug is.

root@kalibox:~/tools# ./git-hound --subdomain-file /home/box/https1.txt --dig-files --dig-commits --results-only
[!] Unable to log into GitHub.
2022/01/14 19:32:45

# Required
my config file:
github_username: "user"
github_password: "pass"

**Expected behavior**
it should run for my given files
**Screenshots**
If applicable,

[2022-01-14 22:49] AhmedBoulahsen commented on #43
i have the same bug

[2022-01-14 22:53] AhmedBoulahsen commented on #43
# echo "hackerone.com" | git-hound
[*] Logged into GitHub as AhmedBoulahsen
[!] Unable to log into GitHub.
2022/01/14 23:51:58

[2022-01-18 02:19] abernalneo commented on #43
Same issue here
[*] Logged into GitHub as xxxxx@xxxxxxxxxxxx.com
[!] Unable to log into GitHub.
2022/01/17 21:18:55

[2022-01-18 02:21] abernalneo commented on #43
This helped me out:
echo "domain" | ./git-hound --config-file config.yml

[2022-01-18 11:59] AhmedBoulahsen commented on #43
its not working with me i get this error

bash: ./git-hound: No such file or directory

[2022-01-25 00:21] vansh1 opened #44 "false positives"
how to get rid of false i am getting github page links which doesn't match 1% to my search how to avoid this

[2022-01-25 05:05] Canon88 commented on #43
Same issue here

Mac

[2022-01-26 16:43] zissosafe commented on #43
Same issue here, both with and without the --config-file option. Each time, I've copied user and pwd from the config file into the browser and there, the login works perfectly fine. git-hound ran once correctly (with the same config file), all the other times I got this error.

[2022-01-27 15:20] vansh1 commented on #43
i found a fix which may not work for all but just keep running git-hound continuously, keep doing this will finally help you that's how i solve that do that maximum time possible
tip: keep internet fast or use vm

[2022-02-08 12:09] sarahhumok7 commented on #32
I'm having the same problem i using Windows 32 bit

[2022-02-08 12:15] sarahhumok7 opened #45 "No config file detected"
![vgggjjoooo](https://user-images.githubusercontent.com/99148825/152984892-fba9aab6-3b7b-40fc-88f0-d90f7b1f2308.png)
I'm having this problem: No config file detected
I'm using Windows, I need help

[2022-02-08 12:18] sarahhumok7 commented on #32
![gttt666777ooi8](https://user-images.githubusercontent.com/99148825/152985457-0a74268d-35b0-4328-a29a-445360f58e9e.png)
I'm having this problem: No config file detected
I'm using Windows, I need help

[2022-02-12 13:33] mokshitk opened #46 "Git-Hound Not Running and Ending"
Hi, I am not be able to run git-hound after setting config.yml and It says Login into My Account and then suddenly says Unable to log into GitHub and then stops and This irritate me so much like i also enter my 2fa code and after that It doesn't run

[2022-02-16 15:40] Canon88 commented on #35
me too

[2022-02-16 15:55] Canon88 commented on #43
There are many results：timestamp_secret、authenticity_token

[2022-02-23 15:39] luizcorreia commented on #43
Same here just getting `[!] Unable to log into GitHub.` , I have tryed the @supersache solution, but doesn't work for me.

[2022-02-25 03:51] KongLynn commented on #31
Dear team：
  I installed the git-hound with 'git clone https://github.com/tillson/git-hound', and it always says 'git-hound' is not recognized as an internal or external command, which is same with @amanchawla97 .
could you please provide a step by step guidelines? Did I need to install golang first?

[2022-02-25 05:46] #45 closed

[2022-02-25 05:48] tillson commented on #46
Fixed in latest commit!

[2022-02-25 05:48] #46 closed

[2022-02-25 05:48] tillson commented on #44
You'll have to be a little more specific.

[2022-02-25 05:48] #44 closed

[2022-02-25 05:48] tillson commented on #43
Fixed in the latest commit!

[2022-02-25 05:48] #43 closed

[2022-02-25 05:49] #40 closed

[2022-02-25 05:49] #38 closed

[2022-02-25 05:49] #32 closed

[2022-02-25 05:50] tillson commented on #31
"git-hound" will only be recognized as a command if you add the binary to your $PATH variable. If it's not in your $PATH, you should run "./git-hound" while in the same directory as the binary.

[2022-02-25 05:50] #39 closed

[2022-02-25 05:51] tillson commented on #35
Could you send a screenshot of this?

[2022-03-13 06:07] Ajit1010 opened #47 "Unable to log into github"
My config.yaml file
![image](https://user-images.githubusercontent.com/86071727/158047299-4a2ad1a3-7d49-4684-905a-6da2449b1fdf.png)
![image](https://user-images.githubusercontent.com/86071727/158047326-a2ad8382-5714-436b-a0f1-c70c333f3e25.png)

[2022-03-20 14:16] danielson-dotcom commented on #47
I have the same problem

[2022-04-10 07:48] carr0t2 commented on #47
I have the same problem

[2022-04-11 05:20] basant-karki commented on #47
I have also the same problem

[2022-04-11 09:00] infosecjunky commented on #31
Instead of this I have tried it like **echo "joor.com" | ./git-hound** if you have updated the user and password in the config.yml it will work.

[2022-04-15 20:31] waelahmed-dev commented on #47
Got same error
solved by putting github account email instead of username in config.yml file
for example:
github_username: "<github_account_email_here>"

[2022-04-15 20:39] waelahmed-dev commented on #47
It really worked, bug after trying using the tool one more time I got the same error...
I think it should be updated to rely on github token like other tools, instead of username and password

[2022-04-16 21:16] evanricafort commented on #47
this worked for me but after 2nd try, I got the same issue again.

[2022-05-13 00:41] #47 closed

[2022-05-13 00:41] tillson commented on #47
This is fixed in the latest source code! Try cloning down the repo

[2022-05-25 17:12] ashirali110 commented on #31
I am using Linux (Redhat) Please help me to configure it I just want to install and configure it.

[2022-05-25 17:13] ashirali110 commented on #31
can someone send me the steps to do complete installation of git-hound.

[2022-05-25 17:15] ashirali110 commented on #31
Is it possible to integrate git-hound with Jenkins pipeline?

[2022-05-25 18:44] infosecjunky commented on #31
Never tried it

[2022-05-25 18:53] infosecjunky commented on #31
Thanks for the information.

[2022-05-26 05:56] ashirali110 commented on #31
Hi @infosecjunky and @tillson  my config.yml is same as the repo you have send I want to ask that do I have to change the content in the config.yml file with my username and password?

[2022-05-26 05:57] ashirali110 commented on #31
My config.yml is present there in git-hound directory now what are the next steps can you please explain?

[2022-05-26 09:35] infosecjunky commented on #31
Yes you need to put your username and password for it to work.
<img width="971" alt="Screenshot 2022-05-26 at 14 32 50" src="https://user-images.githubusercontent.com/909969/170461406-283b99fe-fdae-46c5-a77b-df85a3f996eb.png">

[2022-05-26 09:42] ashirali110 commented on #31
@infosecjunky I have checked with that also but it did not work

[2022-05-26 09:43] ashirali110 commented on #31
If you have time can we have a call on teams or some other platform because I am not able to understand it how to do configurations.

[2022-05-26 09:43] infosecjunky commented on #31
can you share a screenshot of the error your getting

[2022-05-26 09:46] ashirali110 commented on #31
![image](https://user-images.githubusercontent.com/60770816/170463355-ad7a1157-a9c1-4940-adde-8286fe85bd25.png)

This is the same error getting after changing our username and password

[2022-05-26 09:49] infosecjunky commented on #31
Can you check if your files are in the right place like this
<img width="1088" alt="Screenshot 2022-05-26 at 14 48 57" src="https://user-images.githubusercontent.com/909969/170463978-9bae33b8-fc1a-4172-9ed6-36bdbdadad08.png">
?

[2022-05-26 09:56] ashirali110 commented on #31
@infosecjunky yes we have the same files which you have but still not able to do it :(

[2022-05-26 09:58] infosecjunky commented on #31
is the user and password in double quotes?

[2022-05-26 10:01] ashirali110 commented on #31
@infosecjunky yes they have

[2022-05-26 10:09] ashirali110 commented on #31
do we have to give our bitbucket or github credentials?

[2022-05-26 10:14] infosecjunky commented on #31
I have tested only in github. Never tried gitbucket

[2022-05-26 10:19] ashirali110 commented on #31
But when we have installed git-hound we dont see any git-hound script but apart of that we have every file.

![image](https://user-images.githubusercontent.com/60770816/170468944-1e87fc75-7132-44e7-888f-e22c3c11eeef.png)

[2022-05-26 10:20] ashirali110 commented on #31
![image](https://user-images.githubusercontent.com/60770816/170469134-6a62a7c2-0811-4ff3-abfe-bea7196db0a3.png)
 we are having these files only

[2022-05-26 10:23] infosecjunky commented on #31
Can you try to rename config.example.yml to something else. Maybe it might work

[2022-05-26 10:27] ashirali110 commented on #31
But I have one other folder name go in that i have that git-hound script I have moved it to git-hound is that the correct thing?

[2022-05-26 10:27] ashirali110 commented on #31
yes i will do it

[2022-05-26 10:29] infosecjunky commented on #31
can you remove everything. Download it fresh remane config.example.yml to config.yml and check?

[2022-05-26 10:30] ashirali110 commented on #31
From where we can download it fresh the best link do you have?

[2022-05-26 10:32] infosecjunky commented on #31
the same link your using to download it https://github.com/tillson/git-hound.git

[2022-05-26 10:35] infosecjunky commented on #31
I just noticed where is your git-hound executable? it should be in the same folder as config.yml to work as per my understaing

[2022-05-26 10:39] ashirali110 commented on #31
![image](https://user-images.githubusercontent.com/60770816/170472004-747ec33d-12c2-41cc-adb0-3300f3481134.png)

In this which we should download we are using linux Redhat

[2022-05-26 10:40] infosecjunky commented on #31
if you have 64 bit then you should download 64 bit one

[2022-05-26 10:59] ashirali110 commented on #31
Thanks that error resolved now getting new error. Could you please guide on it?

![image](https://user-images.githubusercontent.com/60770816/170475080-7e364d8d-ebe4-487d-b849-da80f5003890.png)

[2022-05-26 11:02] ashirali110 commented on #31
![image](https://user-images.githubusercontent.com/60770816/170475662-54c8c755-5df3-491d-808e-fd2ccfa82702.png)

This is my config.yml file

[2022-05-26 11:15] ashirali110 commented on #31
I have put double quotation also and still not working.

[2022-05-26 11:35] infosecjunky commented on #31
echo "tillsongalloway.com" | ./git-hound try that

[2022-05-26 11:44] ashirali110 commented on #31
![image](https://user-images.githubusercontent.com/60770816/170481563-86126876-2b81-45ac-9b3e-98f31ecf6e0e.png)

[2022-05-26 11:44] ashirali110 commented on #31
getting this error

[2022-05-26 11:49] infosecjunky commented on #31
Your github account details is wrong thats why its unable to do it.

[2022-05-26 12:32] ashirali110 commented on #31
No luck we checked credentials are correct. Still getting the same error

[2022-05-26 12:54] infosecjunky commented on #31
it says unable to login so thats the problem

[2022-05-26 13:53] ashirali110 commented on #31
Okay Thanks @infosecjunky but still not able to login :(

[2022-05-26 16:16] Spraveensakthi commented on #31
Hi @infosecjunky , I am getting the below error while executing the command. please help to me solve the issue ASAP. I am giving the correct github user name and pwd.

![image](https://user-images.githubusercontent.com/89998727/170529653-0a72fad1-6318-470f-957a-99ba1584940d.png)

[2022-05-26 16:36] Spraveensakthi commented on #31
Hi @infosecjunky , now we are successfully logged into the our github account.
![image](https://user-images.githubusercontent.com/89998727/170533270-fa20d01a-e82d-4aa6-987d-286814623b3a.png)

After this step, what we need to do?

[2022-05-26 16:49] ashirali110 commented on #31
I am also able to login yeahh

But after that what to do @infosecjunky ?

[2022-05-28 06:53] infosecjunky commented on #31
what do you mean what to do? You know that the script does isnt it why your installing it?

[2022-05-28 07:25] Spraveensakthi commented on #31
@infosecjunky we want to integrate the git-hound though jenkins script, is it possible to do it through jenkins pipeline?

[2022-05-28 07:31] Spraveensakthi commented on #31
Hi @infosecjunky this command echo **"hanureddy022@gmail.com filename:search_test.go" | ./git-hound** helps to scan only the particular search_test.go file in the repo, but we want to scan all the files in the repository, for that what command should we use to do it?

[2022-05-28 07:51] infosecjunky commented on #31
I have never tried this.

[2022-05-28 07:51] infosecjunky commented on #31
Im not part of support. Im just helping out to setup the script.

[2022-06-02 02:34] Jim2g opened #49 "[!] Unable to log into GitHub"
The problem is still unresolved,Sometimes there is a problem，sometimes is ok.

[2022-06-06 17:21] a88xss commented on #49
Good afternoon, the same thing happens to me, I receive the error [!] Unable to log into GitHub.

I do not receive authorization mail or any notification about the use of the tool

[2022-06-06 17:48] a88xss commented on #31
Good afternoon, I have used two different GitHub accounts and I have the same authentication problem, in addition to my email no notification arrives to allow the use of the tool
![Captura desde 2022-06-06 12-46-33](https://user-images.githubusercontent.com/36142867/172216634-ff4342ab-0ce4-45fd-99c0-df1ca777d1c8.png)

[2022-06-06 17:50] tillson commented on #49
For now, try compiling from the source code. There's a fix there that isn't in the downloadable binary. I'll push a new release that fixes it

[2022-06-06 17:50] infosecjunky commented on #31
your password must be wrong. It should be in between double quotes.

[2022-06-06 18:01] tillson commented on #49
Let me know if the new build (v1.4) works

[2022-06-06 18:01] #35 closed

[2022-06-06 18:38] a88xss commented on #49
Good day, this new version 1.4 worked, after entering the respective 2FA that came to my email, I think the error that was being generated is regarding the management of 2FA or security checks

I clarify that I do not have any 2FA activated in my GitHub account but even so I received an email with a code.

A greeting and a thousand thanks for the help, if I find a reward I will let you know by int

[2022-06-08 20:10] #49 closed

[2022-06-08 20:11] tillson commented on #31
Created a Wiki for this.

[2022-06-08 20:11] #31 closed

[2022-06-16 17:34] ankushgoel27 opened #50 "Unable to Log Into Github"
i run this command:
/root/tools/git-hound --config-file ~/.githound/config.yml --subdomain-file valid_domains.txt --debug

It;s asking me for a 2FA code but i dont have 2FA setup on my account. However, i do get sign in verfication requests on my mobile from github asking me to enter a code.

How do i bypass github sign-in verification?

[2022-06-16 17:41] #50 closed

[2022-07-06 20:53] #14 closed

[2022-07-06 20:53] tillson commented on #15
Will add this in the next week~

[2022-07-06 20:54] tillson commented on #29
Will add this in the next week!

[2022-10-28 20:14] #29 closed

[2022-10-28 20:14] tillson commented on #29
Fixed in 98d0e7a092fec6bd2d414db09e4b25661b5a674d

[2022-10-31 16:53] #34 closed

[2022-11-11 02:25] tillson opened #52 "Support for new code search"
Creating this issue to mark it as known. Code is written to support new code search but it's in a feature branch with some other new stuff. Should have something pushed out tomorrow

[2022-11-11 19:44] tillson commented on #52
It's usable but will need to clean up some of the code before a release here...

[2022-11-11 19:46] tillson commented on #15
This is implemented but is bundled with some other new features... coming soon

[2022-11-11 20:09] #52 closed

[2022-11-18 06:53] NotoriousRebel opened #54 "Error seems to occur when domain being searched yields no results"
While using the latest verison (v1.6) of the tool like so:

` githound --subdomain-file subdomains.txt --dig-files --dig-commits --threads 2  --config-file config.yml --debug`

It appears that some subdomains in that file do not yield any results from github which results in a crash, to test this try running the following command:

`echo "reallyobscure.example.com" | githound --dig-files --dig-com

[2022-11-18 07:00] tillson commented on #54
Thanks for the report, will get this fixed tomorrow. I suggest using v1.5 for now if you can

[2022-11-18 20:04] NotoriousRebel commented on #54
Sweet, sounds good. I don't think it's worth creating another issue but while using the tool with `--debug` on for some repos the error: `couldn't find remote ref "refs/heads/master"` appears a lot. This is highly likely due to some repos still having the primary branch being called master while other repos use the term main which is leading to githound failing to successfully clone the repos lead

[2022-11-18 20:12] tillson commented on #54
is this happening in v1.6? I thought I had fixed that but may have missed something

[2022-11-18 20:16] NotoriousRebel commented on #54
Just downloaded the latest release on an `Ubuntu 20.04.4 LTS` box, and ran the aforementioned command the error still exists.

[2022-11-18 20:38] tillson commented on #54
Fixed the first one (f1b640c4e8bb5b3797d73dd740a1d27c3231f675), I'll look into the second one as well

[2022-11-22 16:22] NotoriousRebel commented on #54
Awesome, glad to hear! Were you able to replicate the finding remote ref issue?

[2022-11-28 18:43] t94j0 opened #55 "panic: runtime error: index out of range [1] with length 0"
**Describe the bug**
When running git-hound with a large number of results, an error is returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `echo "COMPANY" | ./git-hound  --many-results --threads 100`

**Expected behavior**
Gives me api keys

**Screenshots**
[code]

**Desktop (please complete the following information):**
- TempleOS 3.1

**Smartphone (please complete the following

[2022-11-29 01:34] tillson commented on #54
not yet - also can't seem to find any references to the master branch in the new version. I wonder if it's within the library we're using...

[2022-11-29 01:36] tillson commented on #55
Hey @t94j0, big fan of your work on ansible-gophish-notifier!
Does your GitHub account show the new code search UI or the old one?

[2022-11-29 17:13] t94j0 commented on #55
Lol, thanks Mr. Tillson.

I'm not 100% sure, but I think it's the old code search UI.
![image](https://user-images.githubusercontent.com/5448134/204595992-fa15211d-80c8-4217-af4c-6484d87381c6.png)